<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851560994620-2c2hjc3a80hq57shdd2a2id5ng991448.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851560994620-2c2hjc3a80hq57shdd2a2id5ng991448</string>
	<key>API_KEY</key>
	<string>AIzaSyA1hm9QqXFYzke9B1pymUcqHeLYXuUjfp4</string>
	<key>GCM_SENDER_ID</key>
	<string>851560994620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perennial.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-b3de5</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-b3de5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851560994620:ios:883519fcb0a825261a7039</string>
</dict>
</plist>